.jumbotron {
  padding: 2rem 1rem;
  height: 85vh;
  padding-top: 4cm;
  padding-bottom: 5cm;
}
body {
  background: url(bunga.jpg) no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.footer {
  text-align: center;
}
